* {
    border: none;
    border-radius: 0;
    font-family: Mononoki Nerd Font, monospace;
    font-weight: bold;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: #121212;
    color: #d7d7d7;
}

tooltip {
    background: #121212;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #121212;
}

#workspaces button {
    padding: 5px;
    color: #d7d7d7;
    margin-right: 5px;
}

#workspaces button.active {
    color: #FF67A1;
}

#workspaces button.focused {
    color: #121212;
    background: #d7d7d7;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #121212;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #121212;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #121212;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 0px;
    border: 0px solid #121212;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #121212;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #d7d7d7;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
